<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class ="row">
		<div class="span9"><%= yield %></div>
		<div class="span3">
			<h2>About us</h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet libero feugiat lectus semper convallis. Nam felis velit, laoreet non ultrices quis, commodo nec metus. Morbi a velit arcu. Pellentesque pharetra convallis ligula ac semper. Nunc pulvinar pulvinar augue quis tincidunt. Sed congue semper enim id imperdiet. Morbi aliquet purus quis tellus faucibus facilisis. Cras sed purus felis, et consectetur libero. Vivamus quis massa sollicitudin purus tincidunt ornare. Donec tincidunt mollis ligula, a aliquet ante placerat sit amet. Curabitur blandit sagittis massa. Quisque sed massa at mi vehicula pulvinar. Morbi non nisl enim. Aenean ultricies lobortis posuere.
		</div>
	</div>
</div>
</body>
</html>
